.services {
    background-color: #ffffff;
    color: #000000;
}

.services h1 {
    margin: 0;
    padding: 10px;
}

.services-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.service-item {
    width: 25%;
    text-align: center;
    font-size: 1.25rem;
}

.service-item a {
    display: inherit;
    text-decoration: none;
    color: #000000;
}
