.footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}

.happening, .events, .contact {
    display: inherit;
    flex-direction: column;
    padding: 10px;
    width: 30%;
}

.happening a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.9rem;
}

.social-links {
    display: inherit;
    flex-direction: row;
}

.social-links a {
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 10px;
}
